<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<script th:src="@{/js/jquery-3.1.1.min.js}"></script>


<div layout:fragment="content" class="m-3">



    <div id="root" style="height: 100%">
        <div class="pc_wrap" style="">
            <div class="wrap sub_wrap">
                <div class="container">
                    <div class="inner">
                        <div class="contents" style="margin: auto;">

                            <div class="title_wrap"><h2 class="title_30 search_form__row">운동 정보 수정</h2></div>

                            <form action="/exerciseUpdate" method="post" th:object="${exercise}" enctype="multipart/form-data">
                                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
                                <input type="hidden" name="eno" th:value="${exercise.eno}">
                                <div class="mb-3">
                                    <span class="input-group-text">작성자</span>
                                    <input type="text" name="email" class="form-control" aria-label="category" aria-describedby="basic-addon3" th:field="${exercise.email}">
                                </div>
                                <div class="mb-3">
                                    <span class="input-group-text">운동명</span>
                                    <input type="text" name="phone" class="form-control" aria-label="title" aria-describedby="basic-addon1" th:field="${exercise.exname}">
                                </div>
                                <div class="mb-3">
                                    <span class="input-group-text">내용</span>
                                    <input type="text" name="age" class="form-control" aria-label="title" aria-describedby="basic-addon1" th:field="${exercise.excontent}">
                                </div>
                                <div class="mb-3">
                                    <span class="input-group-text">평균 칼로리</span>
                                    <input type="text" name="gender" class="form-control" aria-label="title" aria-describedby="basic-addon1" th:field="${exercise.excal}">
                                </div>
                                <div class="mb-3">
                                    <span class="input-group-text">추천 시간</span>
                                    <input type="text" name="length" class="form-control" aria-label="title" aria-describedby="basic-addon1" th:field="${exercise.extime}">
                                </div>
                                <div class="mb-3">
                                    <span class="input-group-text">이미지</span>
                                    <input type="file" class="form-control" name="exiconFile">

                                </div>

                                <button type="submit" class="btn btn-secondary" style="margin-right: 30px; width: 100px">수정</button>
                                <button type="button" class="btn btn-secondary" style="width: 100px"
                                        th:onclick="|location.href='@{/exercise}'|">목록</button>
                            </form>

                        </div>
                    </div>
                </div>
                <div>
                    <div style="position: fixed; z-index: 9999; inset: 16px 16px 100px; pointer-events: none;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>