<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<style>

    .chart-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 10px;
        flex-shrink: 0;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .chart{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 300px;
        margin: 10px;
        flex-shrink: 0;
    }
</style>
<script th:inline="javascript">
    $(document).ready(function (){
        $('#ageButton').on('click', function() {
            sendRequest(true, function(result){
                showChart(true,result);
            });

        });

        $('#genderButton').on('click', function() {
            sendRequest(false,function(result){
                showChart(false,result);
            });

        });



        function sendRequest(value, callback) {
            $('#sendRequest').on('click', function () {


                 // 혹은 false
                $.ajax({
                    type: 'POST',
                    url: '/dashboardRequest',
                    data: { booleanValue: value },
                    success: function(response) {
                        // 서버로부터의 성공 응답 처리
                        console.log('Success:', response);

                        // 여기에서 response를 이용하여 작업을 수행합니다.
                        // response는 서버에서 보낸 List<Map<LocalDate,Integer>> 데이터입니다.

                        // 예시: 각 Map의 데이터를 출력
                        for (var i = 0; i < response.length; i++) {
                            var map = response[i];
                            for (var key in map) {
                                console.log(key, map[key]);
                            }
                        }

                        // 콜백 함수 호출하여 결과 전달
                        if (typeof callback === 'function') {
                            callback(response);
                        }
                    },
                    error: function(error) {
                        // 오류 발생시 처리
                        console.error('Error:', error);
                    }
                });

            });
        }

        function showChart(value,response){
            var labels = new Set();
            var datasetsData = {};

            if(value){
                var ageGroup;
                for (var i = 0; i < response.length; i++) {

                    switch (i) {
                        case 0:
                            ageGroup = '어린이';
                            break;
                        case 1:
                            ageGroup = '10대';
                            break;
                        case 2:
                            ageGroup = '20대';
                            break;
                        case 3:
                            ageGroup = '30대';
                            break;
                        case 4:
                            ageGroup = '40대';
                            break;
                        case 5:
                            ageGroup = '50대 이상';
                            break;
                        default:
                            ageGroup = '기타';
                    }


                    var map = response[i];
                    for (var key in map) {
                        labels.add(key);

                        if(!datasetsData[ageGroup]){
                            datasetsData[ageGroup] = [];
                        }
                        datasetsData[ageGroup].push(map[key]);

                    }
                    labels = Array.from(labels);
                }

                new Chart(document.getElementById("line-chart"), {
                    type: 'line',
                    data: {
                        labels: labels,
                        datasets: Object.keys(datasetsData).map(function(key, index) {
                            return {
                                data: datasetsData[key],
                                label: key,
                                borderColor: getBorderColor(index),
                                fill: false
                            };
                        })
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: true,
                        title: {
                            display: true,
                            text: '하루 칼로리 소비 평균'
                        }
                    }
                });
            }else{
                var genderGroup;
                for (var i = 0; i < response.length; i++) {

                    switch (i) {
                        case 0:
                            genderGroup = '여성';
                            break;
                        case 1:
                            genderGroup = '남성';
                            break;
                        default:
                            genderGroup = '기타';
                    }


                    var map = response[i];
                    for (var key in map) {
                        labels.add(key);

                        if(!datasetsData[genderGroup]){
                            datasetsData[genderGroup] = [];
                        }
                        datasetsData[genderGroup].push(map[key]);

                    }
                    labels = Array.from(labels);
                }

                new Chart(document.getElementById("line-chart"), {
                    type: 'line',
                    data: {
                        labels: labels,
                        datasets: [{
                            data: datasetsData['여성'],
                            label: "여성",
                            borderColor: "#ff5345",
                            fill: false
                        },{
                            data: datasetsData['남성'],
                            label: "남성",
                            borderColor: "#3e95cd",
                            fill: false
                        }]
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: true,
                        title: {
                            display: true,
                            text: '하루 칼로리 소비 평균'
                        }
                    }
                });
            }

            function getBorderColor(index) {
                // 여러 색상을 사용하여 보기 좋게 표시
                var colors = ["#3e95cd", "#8e5ea2", "#3cba8a", "#e8c3b9", "#ff5345", "#b28c01"];
                return colors[index % colors.length];
            }


        }


    });
</script>

<div layout:fragment="content" class="m-3" style="">
    <h4 th:text="'총 회원 수: ' + ${totalMembers}+'명'"></h4>
    <div class="chart-container">
        <div class="chart">
            <canvas id="doughnut-chart" style="width: 350px; max-width: 300px; max-height: 400px; display: inline-block;" width="400" height="400"></canvas>
            <canvas id="doughnut-chart1" style="width: 350px; max-width: 300px; max-height: 400px; display: inline-block;" width="400" height="400"></canvas>
            <canvas id="doughnut-chart2" style="width: 350px; max-width: 300px; max-height: 400px; display: inline-block;" width="400" height="400"></canvas>
        </div>
        <div class="chart line-chart" style="width:1000px; max-width:1000px; max-height: 1000px; margin-top: 50px; display: flex; align-items: center;">
            <!-- 나이별 성별 버튼 추가 -->
            <div style="margin-right: 15px;">
                <button id="ageButton" style="margin-bottom: 10px">나이별</button>
                <button id="genderButton">성별</button>
            </div>

            <canvas id="line-chart" style="width:1000px; max-width: 1000px; max-height: 1000px;"></canvas>
        </div>
    </div>

    <!-- 제이쿼리 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous" type="text/javascript"></script>
    <!-- chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var loginCounts = /*[[${loginCounts}]]*/ 'default';
        /*]]>*/
    </script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var genderCounts = /*[[${genderCounts}]]*/ 'default';
        /*]]>*/
    </script>
    <script th:inline="javascript">
        var ageGroupCounts = /*[[${ageGroupCounts}]]*/ {};
    </script>

    <script>
        new Chart(document.getElementById("doughnut-chart"), {
            type: 'doughnut',
            data: {
                labels: Object.keys(loginCounts),
                datasets: [{
                    data: Object.values(loginCounts),
                    backgroundColor: ["#FF6384", "#36A2EB"]
                }]
            },
            options: {
                responsive: false,
                maintainAspectRatio: false,
                title: {
                    display: true,
                    text: '접속 인원',
                    fontSize: 20
                },
                legend: {
                    labels: {
                        fontSize: 15  // 원하는 글꼴 크기로 설정
                    }
                }
            }
        });

        new Chart(document.getElementById("doughnut-chart1"), {
            type: 'doughnut',
            data: {
                labels: Object.keys(genderCounts),
                datasets: [{
                    data: Object.values(genderCounts),
                    backgroundColor: ["#FF6384", "#36A2EB"]
                }]
            },
            options: {
                responsive: false,
                maintainAspectRatio: false,
                title: {
                    display: true,
                    text: '성별 수치',
                    fontSize: 20
                },
                legend: {
                    labels: {
                        fontSize: 15  // 원하는 글꼴 크기로 설정
                    }
                }
            }
        });

        new Chart(document.getElementById("doughnut-chart2"), {
            type: 'doughnut',
            data: {
                labels: Object.keys(ageGroupCounts),
                datasets: [{
                    data: Object.values(ageGroupCounts),
                    backgroundColor: ["#FF6384", "#36A2EB", "#FFCE56", "#4BC0C0"]
                }]
            },
            options: {
                responsive: false,
                maintainAspectRatio: false,
                title: {
                    display: true,
                    text: '연령대 분포',
                    fontSize: 20
                },
                legend: {
                    labels: {
                        fontSize: 15  // 원하는 글꼴 크기로 설정
                    }
                }
            }
        });



        new Chart(document.getElementById("line-chart"), {
            type: 'line',
            data: {
                labels: [1500,1600,1700,1750,1800,1850,1900,1950,1999,2050],
                datasets: [
                    {
                        data: [86,114,106,106,107,111,133,221,783,2478],
                        label: "Africa",
                        borderColor: "#3e95cd",
                        fill: false
                    }, {
                        data: [282,350,411,502,635,809,947,1402,3700,5267],
                        label: "Asia",
                        borderColor: "#8e5ea2",
                        fill: false
                    }, {
                        data: [168,170,178,190,203,276,408,547,675,734],
                        label: "Europe",
                        borderColor: "#3cba9f",
                        fill: false
                    }, {
                        data: [40,20,10,16,24,38,74,167,508,784],
                        label: "Latin America",
                        borderColor: "#e8c3b9",
                        fill: false
                    }, {
                        data: [6,3,2,2,7,26,82,172,312,433],
                        label: "North America",
                        borderColor: "#c45850",
                        fill: false
                    }
                ]
            },
            options: {
                responsive: true,
                maintainAspectRatio: true,
                title: {
                    display: true,
                    text: 'World population per region (in millions)'
                }
            }
        });


    </script>
</div>
</html>
