#memberTable {
  border-collapse: collapse;
  margin: auto;
}

.header {
  border: 1px solid gray;
  width: 200px;
  padding: 10px;
  text-align: center;
  background-color: darkgray;
  font-weight: bold;
}

.content {
  border: 1px solid gray;
  padding: 10px;
  width: 1500px;
}




.chart-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px;
  flex-shrink: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
}

